.question-container{
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.question-output{
    text-align: center;
}

.question-section{
    width: 30%;
    display: flex;
    flex-direction: column;
    align-items: center;
    
}