* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  list-style-type: none;
}

nav {
  height: 80px;
  display: flex;
  align-items: center;
  gap: 20px;
  box-shadow: rgba(149, 157, 165, 0.2) 0px 4px 24px;
}

.nav-logo {
  width: 20%;
  display: flex;
  justify-content: end;
}

.nav-logo h1 {
  color: black;
  font-size: 1.8rem;
}

.nav-menu {
  width: 40%;
  padding-left: 50px;
  display: flex;
}

.nav-menu ul li{
  color: #000;
}


.nav-auth {
  width: 30%;
  padding-right: 75px;
  display: flex;
  justify-content: end;
  gap: 15px;
}
