* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
  padding: 20px;
  box-shadow: rgb(146, 155, 163) 0px 4px 24px;
}

.footer-social {
  display: flex;
  justify-content: center;
  gap: 20px;
}

.footer-social i {
  cursor: pointer;
  font-size: 1.2rem;
  transition: 0.5s;
}

.footer-social i:hover {
  transform: scale(1.13);
}

.footer-copyrights p {
  font-size: 0.8rem;
  color: #4d4d4d;
}
