* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: #000;
}

html {
  scroll-behavior: smooth;
}

section {
  margin: 0 auto;
}

.quiz-heading {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.quiz-heading h1 {
  font-size: 3rem;
  padding: 40px 0 20px;
}

.quiz-heading p {
  font-weight: 500;
  line-height: 1.7rem;
  text-align: justify;
}

.quiz-menu {
  margin: 30px 0;
  display: flex;
  justify-content: center;
}

.quiz-menu ul {
  /* From https://css.glass */
  background: #ffffff8c;
  border-radius: 20px;
  box-shadow: 0 0 10px rgba(28, 27, 27, 0.2);
  display: flex;
  padding: 12px 12px;
  gap: 20px;
}

.quiz-menu ul li a {
  font-size: 1.3rem;
  font-weight: 550;
}

.quiz-menu ul li a:after {
  content: "";
  display: block;
  height: 4px;
  width: 60%;
  background-color: var(--primary-color);
  transform: scale(0);
  transform-origin: left;
  transition: transform 0.5s ease;
}

.quiz-menu ul li a:hover::after {
  transform: scaleX(1);
}

.about-section {
  display: flex;
  flex-direction: column;
  gap: 20px;
  padding-bottom: 30px;
}

.about-section p {
  text-align: justify;
  font-weight: 540;
  line-height: 1.7rem;
}

.skill-info {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 80px;
}

.skills-section {
  padding-bottom: 80px;
}

.skills-section h1 {
  padding: 20px 0 30px;
}

.card {
  border: none;
  border-radius: 30px;
  display: flex;
  flex-direction: column;
  gap: 20px;
  justify-content: center;
  text-align: justify;
  box-shadow: rgba(17, 17, 26, 0.1) 0px 1px 0px,
    rgba(17, 17, 26, 0.1) 0px 2px 20px, rgba(17, 17, 26, 0.1) 0px 4px 10px;
  transition: 0.5s;
}

.card:hover {
  box-shadow: rgba(17, 17, 26, 0.1) 0px 1px 0px,
    var(--primary-color) 0px 8px 24px, rgba(17, 17, 26, 0.1) 0px 16px 48px;
  transform: scale(1.09);
}

.card i {
  color: var(--primary-color);
  filter: drop-shadow(0px 4px 4px rgb(192, 243, 255));
  text-align: center;
  font-size: 60px;
}

.card h2 {
  text-align: center;
}

.structure-container {
  padding: 30px 0;
}

.structure-container h1 {
  font-size: 2.5rem;
  padding: 20px 0;
}

.phases {
  border-radius: 20px;
  padding: 0 30px;
  display: flex;
  flex-direction: column;
  transition: 0.5s;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 10px 50px;
}

.phases:hover {
  transform: scale(1.01);
}

.phase-1 h1 {
  font-size: 2rem;
  text-align: center;
  padding: 20px 0;
}

.round-1-info {
  line-height: 1.7rem;
  text-align: justify;
  padding-bottom: 10px;
}

.round-1-conditions {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.round-1-conditions h6 {
  margin-bottom: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 55px;
  height: 25px;
  /* box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px; */
  border: 2px solid rgb(51, 51, 51);
  border-radius: 10px;
}

.skill-container {
  display: flex;
  align-items: center;
  gap: 20px;
  padding-bottom: 20px;
}

.what-to-learn {
  padding-bottom: 80px;
}

.what-to-learn h1 {
  padding: 40px 0;
}

.roadmap-btn {
  margin-top: 30px;
}

.faq-section {
  padding-bottom: 80px;
}

.faq-section h1 {
  padding: 20px 0;
}

.faq-section p {
  text-align: justify;
}

.gototopbtn {
  width: 50px;
  height: 50px;
  position: fixed;
  background-color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  bottom: 5%;
  right: 5%;
  border-radius: 50%;
  border: none;
}

.gototopbtn-border {
  width: 60px;
  height: 60px;
  position: fixed;
  bottom: 4.34%;
  right: 4.61%;
  border-radius: 50%;
  border: none;
  background-color: var(--primary-color);
}
