@font-face {
  font-family: Exo;
  src: url(./assets/Fonts/Exo-VariableFont_wght.ttf);
}

:root {
  --primary-color: rgb(6, 138, 254);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Exo";
}
