@font-face {
  font-family: Exo;
  src: url(./assets/Fonts/Exo-VariableFont_wght.ttf);
}

:root {
  --primary-color: rgb(6, 138, 254);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Exo";
  color: #000;
  text-decoration: none;
  list-style-type: none;
  /* overflow-x: hidden; */
}

.mr {
  padding: 0 175px;
}


::-webkit-scrollbar {
  width: 8px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #edf2f8;
  
}
/* Handle */
::-webkit-scrollbar-thumb {
  background: var(--primary-color);
  border-radius: 10px;
}

